*{
    margin: 0;
}

*:focus {
    outline: 3px solid deepskyblue;
    outline-offset: 10px;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style-type: none;
}

.navbar {
    --bulma-navbar-box-shadow-size: 0;
    --bulma-navbar-fixed-z: 40;
    --bulma-navbar-item-hover-background-l-delta: 5%;
    --bulma-navbar-item-color-l: 90%;
    --bulma-navbar-dropdown-radius: 0rem;
    --bulma-navbar-dropdown-boxed-radius: 0rem;
  }
  
  .tabs {
    --bulma-tabs-border-bottom-color: transparent;
  }

  #card {
    transition: transform .5s;
}

#card:hover {
    transform: scale(1.1);
}

#footer {
    bottom: 0;
    width: 100%;
}